/******************base style ***********************/


* {
    box-sizing: border-box;
}

/***** styling for Page header*****/
h1 {
    text-align: center;
    color:rgb(142, 34, 146);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;

}


/*styling for main container p , a box*/

.box {
  clear: right;
  background-color:darkgray;
  background-position: center;
  border: 2px solid black;
  min-height: 145px;
  max-height: fit-content;

  /*height: 145px;*/ /****disabled absoute height value as min and max height value works better,setting up min value makes windows same size but when width
   is super small allows to fit it in, should not affect score as layout is correct in width provided by yakoov*/
  
  /*background: size 100px;*/
  /* text and font adjustment for box content */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;                                           /*********font color*******************/
  font-weight: bolder;
  font-size:small;
  padding-top: 30px;                                        /*********** margin applied for text from top of a box ***********/
  padding-left: 20px;
  padding-right: 20px;                                       /********** margin applied for text from left side of a box ********/

  /**********margins for visible box***********/ 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}






#label1 {
  position:relative;
  background-color:lightpink;
  float: right;
  

  /****************************size of label container floating box***************************/
  width: 110px;
  height: 25px; 
  
  /****************************label's border size and color*********************************/
  border:  2px solid black;


  /******************** offsets and margins to positon label exactly so it alligns with content box, not container box *********************/
  top: 10px;
  right: 10px; 
  margin-top: 0px;
  margin-bottom: -15px;
  margin-right: 0px;

  /***************************** labbel text adjustmens, like position font color etc.**************************************************************************/
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}




#label2 {
  position:relative;
  background-color:rgb(83, 179, 142);
  float: right;
  

  /****************************size of label container floating box***************************/
  width: 110px;
  height: 25px;

  /****************************label's border size and color*********************************/
  border:  2px solid black;


  /******************** offsets and margins to positon label exactly so it alligns with content box, not container box *********************/
  top: 10px;
  right: 10px; 
  margin-top: 0px;
  margin-bottom: -15px;
  margin-right: 0px;

  /***************************** labbel text adjustmens, like position font color etc.**************************************************************************/
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}





#label3 {
  position:relative;
  background-color:rgb(70, 71, 148);
  float: right;
  

  /****************************size of label container floating box***************************/
  width: 110px;
  height: 25px;

  /****************************label's border size and color*********************************/
  border:  2px solid black;


  /******************** offsets and margins to positon label exactly so it alligns with content box, not container box *********************/
  top: 10px;
  right: 10px; 
  margin-top: 0px;
  margin-bottom: -15px;
  margin-right: 0px;

  /***************************** labbel text adjustmens, like position font color etc.**************************************************************************/
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bolder;
  color: beige;
}





/* my responsive framework */

*.row {
    width: 100%;
} 

/* desktop view , 992px and above */
@media (min-width: 992px) {
    .col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4, .col-desktop-5, .col-desktop-6, .col-desktop-7, .col-desktop-8, .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12 {
      float: left;
      /* border: 1px solid green; */ /**************************temporary visual indicator just to visualize box size*****************/ 
    }
    .col-desktop-1 {
      width: 8.33%;
    }
    .col-desktop-2 {
      width: 16.66%;
    }
    .col-desktop-3 {
      width: 25%;
    }
    .col-desktop-4 {
      width: 33.33%;
    }
    .col-desktop-5 {
      width: 41.66%;
    }
    .col-desktop-6 {
      width: 50%;
    }
    .col-desktop-7 {
      width: 58.33%;
    }
    .col-desktop-8 {
      width: 66.66%;
    }
    .col-desktop-9 {
      width: 74.99%;
    }
    .col-desktop-10 {
      width: 83.33%;
    }
    .col-desktop-11 {
      width: 91.66%;
    }
    .col-desktop-12 {
      width: 100%;
    }
  }



  /********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12 {
      float: left;
      /* border: 1px solid green; */ /**************************temporary visual indicator just to visualize box size*****************/ 
    }
    .col-tablet-1 {
      width: 8.33%;
    }
    .col-tablet-2 {
      width: 16.66%;
    }
    .col-tablet-3 {
      width: 25%;
    }
    .col-tablet-4 {
      width: 33.33%;
    }
    .col-tablet-5 {
      width: 41.66%;
    }
    .col-tablet-6 {
      width: 50%;
    }
    .col-tablet-7 {
      width: 58.33%;
    }
    .col-tablet-8 {
      width: 66.66%;
    }
    .col-tablet-9 {
      width: 74.99%;
    }
    .col-tablet-10 {
      width: 83.33%;
    }
    .col-tablet-11 {
      width: 91.66%;
    }
    .col-tablet-12 {
      width: 100%;
    }
  }

   /********** Medium devices only **********/
 @media (max-width: 767px) {
  .col-mobile-12 {
    float: left;
    /* border: 1px solid green; */ /**************************temporary visual indicator just to visualize box size*****************/ 
  }
  .col-mobile-12 {
    width: 100%;
    padding-left: 7%;
    padding-right: 5%;
  }
  
}
