body{
    font-size: 16px;
    color: rgb(28, 27, 29);
    background-color: rgb(31, 32, 32);
    font-family: 'Oxygen', sans-serif;
}

/*styling of navbar header*/
#header-nav {
    background-color: rgb(223, 96, 166);
    border-radius: 0;
    border: 0;
    height: 70px;
    box-shadow: 0px 5px 5px rgb(238, 123, 190);
}

.navbar-brand{
    padding-top:5px;
    
}

/****************************************styles Logo text: Food LLC.***************************************************/
.navbar-brand h1{ /* added navbar-default to navbar-brad class to avoid specififty issue */
    font-family: 'Bungee Shade';
    font-size: 200%;
    color: rgb(15, 15, 15);
    margin-top:0;
    margin-bottom:0;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgb(107, 102, 102);
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration:none;
}



/*styling of h2 */
.container h2 {
    color: rgb(199, 183, 130);
    font-family: Architects Daughter;
    font-size: 32px;
}


.container p {
    background-color: rgb(230, 220, 207);
    border: 3px solid rgb(238, 123, 190);
    font-family: Architects Daughter;
    font-weight: 570;
    background-blend-mode:hue
    
}